<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="%%__STYLES_COMBINED_URL__%%">
	
	<title>%%__SITE_TITLE__%% — %%__DATA_TITLE__%%</title>
</head>
<body>
<header>
	<h1>%%__SITE_TITLE__%%</h1>
	<p>%%__SITE_TAGLINE__%%</p>
</header>
<article>
%%__DATA_CONTENT__%%
</article>
<footer>
	<p>Built by <a href="http://quentinhill.github.com/curator">Curator</a>.</p>
</footer>
</body>
</html>